@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "AuthorizeFailed";
}

<h2>Authorize Failed</h2>
<div>Sorry, you are not authorized to perform this actions</div>